.thumbnailContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.customBody {
    margin-bottom: -30px !important;
}
.thumbnailImg {
    min-width: 418px;
    min-height: 250px;
    border-radius: 10px;
}
.thumbsContainer {
    position: relative;

}
.imagesContainer {
    padding: 0;
    display: flex;
    gap:10px;
    overflow-x: auto;
}
.leftChevron , .rightChevron{
    display: none;
    position: absolute;
    top:0;
    margin-top: 25px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.leftChevron.show {
    display: block;
    left:0;

}
.rightChevron.show {
    display: block;
    right: 0;
}
.imagesContainer::-webkit-scrollbar {
    background-color: transparent;
    width: 0px;
}
.imagesContainer img {
    border-radius: 5px;
}
.imagesContainer img:hover {
    cursor: pointer;
}

.selectButton {
    background-color: #29a979;
    color: white;
    cursor: pointer;
    font-weight: 550;
    margin-left: auto;
    padding: 10px;
    width: auto;
    border-color: transparent;
    border-radius: 3px;
    transition: background-color 0.4s ease-in-out;
  
}