.recordButton {
    width: 100%;
    border-radius: 1rem !important;
    height: 100%;
background-color: blue;
    cursor: pointer;
    color: #fff;
    display:flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900; 
     font-size: 20px;



}

.recordButton.fullWidth {
    width: 100%;
    height: calc(100vh - 20px);
    z-index: 1;
}