

.screenRecordContainer {
    display: none;
}
.title.hide {
    display: none;
}

.title {
    display : block;
}



.closeIcon {
    text-align: right;
}
.containerFooter {
    display: flex;
    gap : 10px;
    margin-top: 100px;
}

.containerBody {
    height: 100%;
    width: 100%;
    border-radius: 10px;

}

.previewVideo {
    display: none;
    height: 100%;
    width: 100%;
}
.previewVideo video {
    height: 100%;
    width: 100%;
}
.show {
    display: flex !important;
    
}



.recordButton {
    background-color: #D72B3F;
    color : white;
    cursor: pointer;
    font-weight: 550;
    padding: 10px;
    border-radius: 3px;
    transition: background-color 0.4s ease-in-out;
  
}
.recordButton.disabled{
    cursor: not-allowed;
    background-color: #E8E8E8;
    color : #717274;
    transition: background-color 0.4s ease-in-out;
}
.recordButton.disable:hover{
    pointer-events: not-allowed;

}
.recordButton.doneButton {
    background-color: #29a979;
    color: white;
}

.uploadButton {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap:5px;
    color:#A0A0A2;
  }

  .audioIcon {
    display: none;
  }
  .audioIcon.show {
    display: block;
  }

.hide{
    display: none !important;
}
.reloadIcon {
    text-align: right;
    margin-top: -20px;
    margin-bottom: 10px;
}
.reloadIcon svg{
    cursor: pointer;
}
.uploadVideoIconContainer {
    display: flex;
    gap:10px;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    color : #717274;
    border-radius: 3px;
    background-color: transparent;
    transition: color 0.5s ease-in-out , background-color 0.5s ease-in-out;
}
.uploadVideoIconContainer:hover{
    background-color: #e8e8e8 ;
    color: black;
}
